.right{
  .button-regular{
    background-color: white;
    border: 1px solid #62ade6;
    font-size: 18px;
    font-family: Arial;
    color: #62ade6;
    width:200px;
    height: 40px;
    cursor: pointer;
    margin-left:5px;
    &:disabled{
      background-color: darkgray;
      color: gray;
      cursor: auto;
    }
    &-blue{
      background-color: #62ade6;
      border: 1px solid cadetblue;
      font-size: 18px;
      font-family: Arial;
      color: #ffffff;
      width:200px;
      height: 40px;
      cursor: pointer;
      margin-left:5px;
      &:disabled{
        background-color: darkgray;
        color: gray;
        cursor: auto;
      }
    }
  }
  .top-line{
    height: 60px;
    justify-content:flex-end;
    display: flex;
  }
  .middle-line{
    border:1px solid #e1e9eb;
    background-color: white;
    height: 80vh;
    width: 70vw;
    .wrapper{
      margin:20px;
    }
    .title{
      font-size: 22px;
      font-family: Arial;
      color: #51788d;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .separator{
      border-bottom: 1px solid #94acb9;
    }
    .input-wrapper{
      display: flex;
      padding-top:20px;
      flex-direction: row;
      width: 100%;
      &>label{
        font-size: 30px;
        font-family: Arial;
        padding-right: 20px;
        color: #627b89;
        width: 250px;
        display: block;
      }
      &>input{
        font-size: 20px;
        font-family: Arial;
        color: #627b89;
        width: 250px;
      }
    }
  }
  .bottom-line{
    justify-content:flex-end;
    display: flex;
    margin-top: 10px;
  }
}





