.box {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left:5vh;
  padding-right:5vh;
  .left{
    height: 80vh;
    width:22vw;
    background-color: #fff;
    border:1px solid #e1e9eb;
    display: flex;
    margin-top:60px;
    margin-bottom:10px;
    border-radius: 3px;
    &-component{
      width: 100%;
    }
  }
  .right{
    width:70vw;
    display: flex;
    justify-content: right;
    &-component{
      width: 100%;
    }
  }
}


